/* header */
body{
	padding-top: 200px;
}
#header{
	background-color: #ffffff;
}
/* container */
.product-information{
	padding-top: 0px;
	padding-right: 60px;
}
.product-information .productinfomation {
	text-align: center;
}
.product-information .productinfomation > h3{
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #2B46DC;
}

.product-information .productinfomation > p{
	text-align: left;
	color: #1e4340;
	font-weight: bold;
	margin-top: 10px;
}
.product-information .productinfomation > input{
	width: 100%;
	border: 1px solid #F7F7F0;
	color: #1e4340;
}
.product-information .productinfomation select{
	width: 100%;
	border: 1px solid #9E9E9E;
	color: #1e4340;
}
.product-information .productinfomation > input:focus{
	outline: #F7F7F0;
}
.descriptionProduct textarea{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #F7F7F0;
	color: #1e4340;
}
.changeDetail{
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.changeDetail .btn{
	background-color: #00adff;
	color: #ffffff;
}
.changeDetail .btn:active{
	background-color: #2B46DC;
}
#similar-product .carousel-inner .item img{
	width: 80px;
	height: 80px;
	margin-left: 25px;
}